.login_form {
    max-width: 450px;
    max-height: 380px;
    margin: auto auto;
    background-color: #EEE8AA;
    padding: 20px;
    border: 1px solid #FFD700;
    border-radius: 12px;
    gap: 5px;

}

.login_form label {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 1.5rem;
}

.login_form label:last-child {
    margin-left: 5px;
    font-size: 0.8rem;
}

.form-control {
    margin-bottom: 10px;
}
